<!-- File: layout.ejs
  Student Name: Jennifer Peart
  StudentID: 821385531
  Due Date: September 26, 2025 -->

<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
<body>

  <%- include('partials/navbar') %>

  <div class="page-wrapper">
    <main>
      <%- body %>
    </main>
  </div>

  <%- include('partials/footer') %>

</body>
</html>
